pypdf
sentence-transformers
chromedriver-autoinstaller
langchain-core>=0.3.0
langchain>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-groq
chromadb
streamlit
python-dotenv
python-docx
pandas
torch
faiss-cpu

